body {
  background-color: orange;
  padding: 20px;
  padding-left: 100px;
  padding-right: 100px;
}

.root {
  border: solid 2px black;
}

h1 {
  text-decoration: underline;
}

h1,
h3:nth-child(2) {
  text-align: center;
  color: white;
}

p {
  font-family: verdana;
  font-size: 20px;
  padding: 10px;
}

p ~ h3 {
  color: white;
}

ul {
  font-family: impact;
  font-size: 30px;
}

img {
  display: block;
  margin: auto;
}
